/***** Footer *****/
.footer_container {
  padding: 0 32px !important;
  max-width: 100%;
  margin-top: 0 !important;
}

.footer {
  background: $footer_background_color;
  color: black;
  padding: 0 0 12px;

  .submit-a-request {
    text-transform: uppercase;
  }

  .footer-inner {
    margin: 0;
  }
  &-language-selector {
    display: none;
    color: $secondary-text-color;
    display: inline-block;
    font-weight: $font-weight-light;
  }

  .contact-block {
    text-align: center;
    padding: 30px 0 80px;
    position: relative;
    background: white;
    color: black;
    
    @include mobile {
      padding: 30px 5% 100px;
    }

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      content: '';
      height: 15px;
      background: $brand-color;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      height: 30px;
    }

    h1 {
      font-size: 35px;
      line-height: 44px;
      font-weight: $font-weight-semibold;
      margin: 50px 0 40px;
    }

    .link-not-found {
      font-size: 18px;
      font-weight: $font-weight-semibold;
    }

    .btn {
      display: inline-block;
      color: white;
      min-width: 180px;
      padding: 10px 30px;
      text-align: center;
      font-size: 24px;
      line-height: 30px;
      font-weight: $font-weight-normal;
      background: $brand-color;
      border-radius: 5px;
    }
  }
  .footer-top {
    padding-top: 30px;

    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }

  .footer-bottom {
    padding-top: 54px;
    flex-direction: row-reverse;

    @include mobile {
      padding-top: 0;
    }
  }

  a {
    color: black;
  }

  .mit-info {
    font-size: 14px;
    line-height: 24px;

    @include desktop {
      padding: 0;
      float: left;
      width: 44%;
    }

    @include mobile {
      padding-bottom: 32px;
    }

    img {
      width: 78px;
      height: 41px;
      margin: 0 auto 15px;
      margin: 5px 22px 0 0;
      
    }

    address {
      overflow: hidden;
      display: inline-block;
      margin: 0;
      font-style: normal;
      white-space: pre-line;
    }

    .copyright {
      text-align: left;
    }
  }

  .right-info {
    text-align: center;
    padding: 0 0 20px;
    display: none;

    @include desktop {
      float: right;
      text-align: left;
      padding: 0;
    }
  }

  .footer-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    @include desktop {
      float: left;
    }

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 10px;
      font-size: 18px;
      line-height: 28px;

      @include desktop {
        margin-left: 15px;
      }

      &:first-child {
        margin: 0;
      }
    }
  }

  .footer-sub-nav {
    margin: 0 0 5px;
    list-style: none;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 20px;

    @include tablet {
      text-align: right;
      margin: 0;
      float: right;
    }

    li {
      display: block;
      margin: 0;
      vertical-align: top;
      padding: 0 0 12px;

      @include tablet {
        display: inline-block;
        margin: 0 5px;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }

  .copyright {
    display: block;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    margin: 5px 0;

    @include tablet {
      padding-bottom: 10px;
    }

    @include desktop {
      margin: 0;
    }
  }

  .container {
    max-width: $max-width-container;

    @include desktop {
      padding: 0 32px;
    }
  }
}

.powered-by-zendesk {
  display: none;
}
